* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "source_sans_proregular";
  src: url("./fonts/sourcesanspro-regular-webfont.woff") format("woff2"),
    url("./fonts/sourcesanspro-regular-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: source_sans_proregular;
  width: 100%;
}

.background-image {
  background-image: url("./images/Object.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1093px;
  width: 100%;
  /* border: 2px solid red;
  background-color: lightgrey; */
}

nav {
  display: flex;
  justify-content: center;
  gap: 800px;
  position: relative;
  top: 50px;
}

.logo {
  width: 160px;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.nav-item {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
  width: 200px;
}

.get-schooled {
  font-weight: 700;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  position: relative;
  top: 240px;
  color: #ffffff;
}

.tag-line {
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  position: relative;
  top: 250px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.register {
  color: #ffffff;
  background: #c271ff;
  border-style: none;
  background-color: #c271ff;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: 200px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  position: relative;
  top: 40px;
}

.register-btn-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 250px;
}

.learn {
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 450px;
}
.learn-container {
  color: #c271ff;
  position: relative;
  right: 10px;
}

.pros {
  display: flex;
  justify-content: center;
  gap: 150px;
  position: relative;
  top: 500px;
  text-align: center;
  color: #ffffff;
}

.pros-img {
  width: 200px;
  line-height: 24px;
}

.pro-name {
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  position: relative;
  top: 10px;
}

.pro-description {
  position: relative;
  top: 20px;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}

.Bruce-img {
  border-radius: 100%;
}

.testimonial-section {
  background-color: #c271ff;
  position: relative;
  top: 550px;
  height: 392px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center; /*this centers elements vertically */
  color: #ffffff;
}
.quote {
  position: relative;
  bottom: 20px;
}

.testimonial-name {
  position: relative;
  top: 20px;
  line-height: 30px;
}

.tutorials-section {
  background-color: #ffffff;
  height: 100vh;
  position: relative;
  top: 595px;
}

.tutorial-heading {
  color: #071629;
  text-align: center;
  position: relative;
  top: 100px;
  font-weight: 300;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
}

.popular {
  color: #c271ff;
}

.tutorials-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: 200px;
}
.tutorial {
  position: relative;
  width: 255px;
  height: 335px;
}

.play-button-img {
  position: absolute;
  top: 50px;
  right: 110px;
  width: 50px;
}

.smiles-descriptions {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  position: relative;
  top: 20px;
  color: #071629;
}

.smiles-paragraph {
  position: relative;
  top: 40px;
  color: #07162980;
}

.phillip-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 60px;
  color: #c271ff;
}

.tiny-phillip {
  width: 50px;
  position: relative;
}

.phillip-name {
  position: relative;
  left: 20px;
  top: 25px;
}

.stars-container {
  position: relative;
  top: 80px;
  color: #c271ff;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.membership-container {
  background-color: #071629;
  height: 100vh;
  position: relative;
  top: 595px;
  text-align: center;
}

.membership-heading {
  color: #c271ff;
  position: relative;
  top: 150px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}

.memberships {
  display: flex;
  justify-content: center;
  gap: 60px;
  position: relative;
  top: 250px;
  color: #ffffff;
}
.member-item {
  width: 230px;
}

.smile-heading {
  position: relative;
  top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.free {
  color: #ffffff;
  font-weight: 300;
  font-size: 32px;
  line-height: 100%;
}

.smile-paragraph {
  position: relative;
  top: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.register-for-free-btn {
  position: relative;
  top: 450px;
  width: 200px;
}

.faq-container {
  background-color: #ffffff;
  height: 100vh;
  position: relative;
  top: 595px;
  align-content: center;
}

.faq-heading {
  text-align: center;
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: #071629;
  position: relative;
  bottom: 20px;
}

.faq-column-sections {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faq-paragraphs-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 50px;
}

.faq-plus-heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq-subheadings {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #071629;
}

.faq-paragraphs {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(7, 22, 41, 0.5);
}

footer {
  background-color: #071629;
  height: 250px;
  width: 100%;
  position: relative;
  top: 700px;
}

.footer-logos {
  display: flex;
  justify-content: center;
  gap: 800px;
  position: relative;
  top: 100px;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.copyright {
  text-align: center;
  position: relative;
  top: 150px;
  color: rgba(255, 255, 255, 1);
}

/* 
.weather-presenter {
  position: relative;
  top: 30px;
} */
